<div class="jumbotron bg-white text-center">
    <div class="display-4">Covid-19 Tracker</div>
    <hr>
   
    <app-dashboard-cards 
        [totalConfirmed] = 'totalConfirmed'
        [totalActive] = 'totalActive'
        [totalDeaths] = 'totalDeaths'
        [totalRecovered] = 'totalRecovered'
    ></app-dashboard-cards>

</div>

<hr>

<!-- Radio CheckBox -->
<div class="ui form ml-4">
  <div class="inline fields">
    <label for="casetype"> Select Case Type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="c" id="c" #c (click)='updateChart(c)' name="casetype" checked="" tabindex="0" class="hidden">
        <label for="c">Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="d" id="d" #d (click)='updateChart(d)' name="casetype" tabindex="0" class="hidden">
        <label for="d">Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="r" id="r" #r (click)='updateChart(r)' name="casetype" tabindex="0" class="hidden">
        <label for="r">Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="a" id="a" #a (click)='updateChart(a)' name="casetype" tabindex="0" class="hidden">
        <label for="a">Active</label>
      </div>
    </div>
  </div>
</div>

<!-- Charts -->
<div class="row">
  <div class="col">
    <div class="card">
      <google-chart [type]='chart.PieChart' [options]='chart.options' style="width: 100%;" [height]="chart.height" [data]='datatable'></google-chart>
    </div>  
  </div>
  <div class="col">
    <div class="card">
      <google-chart [type]='chart.ColumnChart' style="width: 100%;" [options]='chart.options' [height]='chart.height' [data]='datatable'></google-chart>
    </div>
  </div>
</div>
